<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>calculator</title>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/calculator.js" ></script>
<style type="text/css">
	.operator{
		width: 73px;
		height: 30px;
	}
	.number{
		width: 100px;
		height: 30px;
	}
	.equal{
		width: 100px;
		height: 30px;
	}
</style>
</head>
<body>
	<input id="inputNum" name="inputNum" value="0" style="width: 300px; height: 30px;">
	<br>
	<button class="operator" data-opt = "+">+</button>
	<button class="operator" data-opt = "-">-</button>
	<button class="operator" data-opt = "*">*</button>
	<button class="operator" data-opt = "/">/</button>
	<br>
	<button class="number" data-opt = "7">7</button>
	<button class="number" data-opt = "8">8</button>
	<button class="number" data-opt = "9">9</button>
	<br>
	<button class="number" data-opt = "4">4</button>
	<button class="number" data-opt = "5">5</button>
	<button class="number" data-opt = "6">6</button>
	<br>
	<button class="number" data-opt = "1">1</button>
	<button class="number" data-opt = "2">2</button>
	<button class="number" data-opt = "3">3</button>
	<br>
	<button class="number" data-opt = "C">C</button>
	<button class="number" data-opt = "0">0</button>
	<button class="equal">=</button>
</body>
</html>